*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma,Arial,sans-serif;
}

body{
    background:#eef7f5;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.container{
    width:100%;
    max-width:420px;
    background:white;
    border-radius:25px;
    padding:35px 25px;
    box-shadow:0 15px 35px rgba(0,0,0,.12);
    text-align:center;
}

.logo{
    width:100px;
    height:100px;
    margin:auto;
    border-radius:50%;
    background:#0b6b61;
    color:white;
    font-size:48px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
}

h1{
    color:#0b6b61;
    font-size:32px;
    margin-bottom:15px;
}

.subtitle{
    color:#666;
    line-height:1.8;
    margin-bottom:35px;
    font-size:18px;
}

.buttons{
    display:flex;
    flex-direction:column;
    gap:15px;
}

button{
    border:none;
    border-radius:15px;
    padding:18px;
    font-size:20px;
    cursor:pointer;
    background:#0b6b61;
    color:white;
    transition:.3s;
}

button:hover{
    background:#128678;
    transform:scale(1.03);
}